<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.kirtan.web.browser.Web_Browser"
            id="com.kirtan.web.browser.perspective1"
            name="Web Browser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
         	id = "WebBrowser"
         	name = "Web Browsing">
         </category>
         <view
               class="com.kirtan.web.view.BookMarkView"
               id="com.kirtan.web.view.BookMarksView"
               name="Bookmarks"
               restorable="true">
         </view>
         <view
               class="com.kirtan.web.view.WebBrowserView"
               id="com.kirtan.web.view.WebBrowserView"
               name="Web Browser"
               restorable="true">
         </view>
   </extension>

</plugin>
